body{
    margin: 0;
}
.heading{
    font-size: 7em;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
#longURL{
    width: 30%;
    font-size: 2em;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1em;
    margin-left: 2%;
}
#shortURL{
    font-size: 3.5em;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 20%;
    height: 20vh;
    margin-left: 2%;
}
.buttons{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1em;
}
.label{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 2%;
    font-size: 3em;
    margin-bottom: 5vw;
}
#reload-btn, #short-btn{
    width: 15%;
    height: 6vh;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2em;
    margin-left: 2em;

    margin-bottom: 5%;
}
/*qr code place*/
.qrcode{
    margin-left: 2%;
}
/*copyright*/
.copyright{
    font-size: 1em;
    background-color: aliceblue;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    padding-left: 1%;
    margin-bottom: 0%;
}